/* Full-page gradient background */
.login-background {
  background: linear-gradient(180deg, #a5d6e1 0%, #93cbe8 50%, #79c3f2 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login form box styles */
.login-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

/* Responsive form elements */
@media (max-width: 576px) {
  .login-box {
    width: 100%;
    padding: 1.5rem;
  }
}

@media (min-width: 577px) {
  .login-box {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .login-box {
    width: 100%;
  }
}

h2 {
  font-weight: bold;
}

button {
  font-weight: bold;
}


.custom-file-upload {
  border: 2px dashed #007bff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: #007bff;
  position: relative;
}

.custom-file-upload .file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-upload label {
  display: block;
  font-size: 1rem;
  color: #007bff;
}

.custom-file-upload label .upload-icon {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
}

button.btn-outline-secondary {
  color: #000;
  border-color: #000;
}

button.btn-outline-secondary:hover {
  background-color: #e0e0e0;
}

button.btn-primary {
  background-color: #002a4d;
  border-color: #002a4d;
}

button.btn-primary:disabled {
  background-color: #c0c0c0;
}
